@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.content {
    position: relativea;
}

.content h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03A9F4;
}

.content h1:nth-child(2) {
    color: #03A9F4;
    animation: water 4s ease-in-out infinite;
}

@keyframes water {
    0%, 100% {
        clip-path: polygon(0 46%, 14% 40%, 32% 41%, 49% 53%, 65% 58%, 85% 56%, 100% 49%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 54%, 18% 59%, 36% 60%, 54% 53%, 70% 40%, 88% 35%, 100% 38%, 100% 100%, 0% 100%);
    }
}